Client/Service References/CustomerService/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8734/BusStationService/CustomerService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8734/BusStationService/CustomerService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8734/BusStationService/CustomerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusStationService.Lib" />
      <xsd:import schemaLocation="http://localhost:8734/BusStationService/CustomerService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_GetDirections_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirections" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetDirections_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectionsResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetOccupiedPlaces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOccupiedPlaces" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetOccupiedPlaces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOccupiedPlacesResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetTripsByDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTripsByDate" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetTripsByDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTripsByDateResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="GetDirections">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetDirections" message="tns:ICustomerService_GetDirections_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetDirectionsResponse" message="tns:ICustomerService_GetDirections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOccupiedPlaces">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetOccupiedPlaces" message="tns:ICustomerService_GetOccupiedPlaces_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetOccupiedPlacesResponse" message="tns:ICustomerService_GetOccupiedPlaces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTripsByDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetTripsByDate" message="tns:ICustomerService_GetTripsByDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetTripsByDateResponse" message="tns:ICustomerService_GetTripsByDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICustomerService" type="tns:ICustomerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDirections">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetDirections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOccupiedPlaces">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetOccupiedPlaces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTripsByDate">
      <soap:operation soapAction="http://tempuri.org/ICustomerService/GetTripsByDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CustomerService">
    <wsdl:port name="BasicHttpBinding_ICustomerService" binding="tns:BasicHttpBinding_ICustomerService">
      <soap:address location="http://localhost:8734/BusStationService/CustomerService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>