Client/Service References/CustomerService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8734/BusStationService/CustomerService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusStationService.Lib" />
  <xs:import schemaLocation="http://localhost:8734/BusStationService/CustomerService/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetDirections">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDirectionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusStationService.Lib" minOccurs="0" name="GetDirectionsResult" nillable="true" type="q1:ArrayOfDirection" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOccupiedPlaces">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tripId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOccupiedPlacesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetOccupiedPlacesResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>