Client/Service References/AdminService/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/BusStationService/AdminService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/BusStationService/AdminService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/BusStationService/AdminService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusStationService.Lib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_AddBus_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBus" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBusResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetBusById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusById" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetBusById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SaveBus_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveBus" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SaveBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveBusResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllBusses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBusses" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllBusses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBussesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteBus_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBus" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBusResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllDirections_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDirections" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllDirections_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDirectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SaveDirections_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDirections" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SaveDirections_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDirectionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCustomerById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerById" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCustomerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SaveCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomer" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SaveCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrders" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetOrderById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderById" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetOrderById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SaveOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrder" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SaveOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="AddBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddBus" message="tns:IAdminService_AddBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddBusResponse" message="tns:IAdminService_AddBus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetBusById" message="tns:IAdminService_GetBusById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetBusByIdResponse" message="tns:IAdminService_GetBusById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SaveBus" message="tns:IAdminService_SaveBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SaveBusResponse" message="tns:IAdminService_SaveBus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBusses">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAllBusses" message="tns:IAdminService_GetAllBusses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAllBussesResponse" message="tns:IAdminService_GetAllBusses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeleteBus" message="tns:IAdminService_DeleteBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeleteBusResponse" message="tns:IAdminService_DeleteBus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDirections">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAllDirections" message="tns:IAdminService_GetAllDirections_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAllDirectionsResponse" message="tns:IAdminService_GetAllDirections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDirections">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SaveDirections" message="tns:IAdminService_SaveDirections_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SaveDirectionsResponse" message="tns:IAdminService_SaveDirections_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAllCustomers" message="tns:IAdminService_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAllCustomersResponse" message="tns:IAdminService_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetCustomerById" message="tns:IAdminService_GetCustomerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetCustomerByIdResponse" message="tns:IAdminService_GetCustomerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddCustomer" message="tns:IAdminService_AddCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddCustomerResponse" message="tns:IAdminService_AddCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SaveCustomer" message="tns:IAdminService_SaveCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SaveCustomerResponse" message="tns:IAdminService_SaveCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeleteCustomer" message="tns:IAdminService_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeleteCustomerResponse" message="tns:IAdminService_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAllOrders" message="tns:IAdminService_GetAllOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAllOrdersResponse" message="tns:IAdminService_GetAllOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetOrderById" message="tns:IAdminService_GetOrderById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetOrderByIdResponse" message="tns:IAdminService_GetOrderById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddOrder" message="tns:IAdminService_AddOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddOrderResponse" message="tns:IAdminService_AddOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SaveOrder" message="tns:IAdminService_SaveOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SaveOrderResponse" message="tns:IAdminService_SaveOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeleteOrder" message="tns:IAdminService_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeleteOrderResponse" message="tns:IAdminService_DeleteOrder_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminService" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBus">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AddBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusById">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetBusById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBus">
      <soap:operation soapAction="http://tempuri.org/IAdminService/SaveBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBusses">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetAllBusses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBus">
      <soap:operation soapAction="http://tempuri.org/IAdminService/DeleteBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDirections">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetAllDirections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDirections">
      <soap:operation soapAction="http://tempuri.org/IAdminService/SaveDirections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerById">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetCustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCustomer">
      <soap:operation soapAction="http://tempuri.org/IAdminService/SaveCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/IAdminService/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOrders">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetAllOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderById">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetOrderById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveOrder">
      <soap:operation soapAction="http://tempuri.org/IAdminService/SaveOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IAdminService/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="BasicHttpBinding_IAdminService" binding="tns:BasicHttpBinding_IAdminService">
      <soap:address location="http://localhost:8733/BusStationService/AdminService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>