Client/Service References/AdminService/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/BusStationService/AdminService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusStationService.Lib" />
  <xs:element name="AddBus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BusStationService.Lib" minOccurs="0" name="bus" nillable="true" type="q1:Bus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBusByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusStationService.Lib" minOccurs="0" name="GetBusByIdResult" nillable="true" type="q2:Bus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusStationService.Lib" minOccurs="0" name="bus" nillable="true" type="q3:Bus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBusses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBussesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusStationService.Lib" minOccurs="0" name="GetAllBussesResult" nillable="true" type="q4:ArrayOfBus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>