TestServices/Service References/AdminServiceClient/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/BusStationService/AdminService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/BusStationService/AdminService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/BusStationService/AdminService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusStationService.Lib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_AddBus_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBus" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBusResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetBusById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBusById" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetBusById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBusByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SaveBus_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveBus" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SaveBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveBusResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllBusses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBusses" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllBusses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBussesResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="AddBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddBus" message="tns:IAdminService_AddBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddBusResponse" message="tns:IAdminService_AddBus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBusById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetBusById" message="tns:IAdminService_GetBusById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetBusByIdResponse" message="tns:IAdminService_GetBusById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SaveBus" message="tns:IAdminService_SaveBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SaveBusResponse" message="tns:IAdminService_SaveBus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBusses">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAllBusses" message="tns:IAdminService_GetAllBusses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAllBussesResponse" message="tns:IAdminService_GetAllBusses_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminService" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBus">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AddBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusById">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetBusById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBus">
      <soap:operation soapAction="http://tempuri.org/IAdminService/SaveBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBusses">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetAllBusses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="BasicHttpBinding_IAdminService" binding="tns:BasicHttpBinding_IAdminService">
      <soap:address location="http://localhost:8733/BusStationService/AdminService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>