TestServices/Service References/AdminServiceClient/AdminService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdminService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/BusStationService/AdminService/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/BusStationService/AdminService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/BusStationService/AdminService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BusStationService.Lib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SecondOperation_InputMessage">
    <wsdl:part name="parameters" element="tns:SecondOperation" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SecondOperation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SecondOperationResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddBus_InputMessage">
    <wsdl:part name="parameters" element="tns:AddBus" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddBus_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddBusResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetDirections_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDirections" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetDirections_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDirectionsResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DoWork" message="tns:IAdminService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DoWorkResponse" message="tns:IAdminService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SecondOperation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SecondOperation" message="tns:IAdminService_SecondOperation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SecondOperationResponse" message="tns:IAdminService_SecondOperation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddBus">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddBus" message="tns:IAdminService_AddBus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddBusResponse" message="tns:IAdminService_AddBus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDirections">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetDirections" message="tns:IAdminService_GetDirections_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetDirectionsResponse" message="tns:IAdminService_GetDirections_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAdminService" type="tns:IAdminService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IAdminService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecondOperation">
      <soap:operation soapAction="http://tempuri.org/IAdminService/SecondOperation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBus">
      <soap:operation soapAction="http://tempuri.org/IAdminService/AddBus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirections">
      <soap:operation soapAction="http://tempuri.org/IAdminService/GetDirections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminService">
    <wsdl:port name="BasicHttpBinding_IAdminService" binding="tns:BasicHttpBinding_IAdminService">
      <soap:address location="http://localhost:8733/BusStationService/AdminService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>